{% extends "basic_app/base.html" %}
{% load static %}
{% load form_tags %}
{% block body_block %}
<div class="card py-3 px-3 mt-5">
    {% if registered %}
     <h1>Thank you for registering!</h1>
    {% else %}
    <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <h2 class="mb-4">Register Here!</h2>
        <p class="text-muted">Fill out the form below to create your account.</p>
         <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            {{ user_form.username|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="id_email" class="form-label">Email Address</label>
            {{ user_form.email|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            {{ user_form.password|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label for="id_portfolio_site" class="form-label">Portfolio Site</label>
            {{ profile_form.portfolio_site|add_class:"form-control" }}
        </div>

        <div class="mb-3">
            <label for="id_profile_pic" class="form-label">Profile Picture</label>
            {{ profile_form.profile_pic|add_class:"form-control" }}
        </div>

        <button type="submit" class="btn btn-primary w-100">Register</button>

        {% comment %} {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Register"> {% endcomment %}
    </form>
    {% endif %}
</div>
{% endblock %}