<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Index Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="card">
                <h1>Hello this is index.html!</h1>
                <h1>Go to /users to sign up!</h1>
            </div>
        </div>
        {% comment %} <h1>Go to user/ to see the user list</h1> {% endcomment %}
    </body>
</html>